<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>

</header>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<a href="\admin"> Ir Administracion</a>
</body>
</html>
